@model RegistrationModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="dailyBackground">
    <div class="login-form my-form active">
        <div class="login-btn form-btn">Sign-in</div>
        <form asp-controller="home" asp-action="login">
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-input" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-input" />
            </div>
            <button class="auth-btn" type="submit">Login</button>
        </form>
    </div>
    <div class="register-form my-form">
        <div class="register-btn form-btn">Sign-up</div>
        <form asp-controller="home" asp-action="register">
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-input" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-input" />
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm">Confirm password:</label>
                <input asp-for="PasswordConfirm" class="form-input" />
            </div>
            <button class ="auth-btn" type="submit">Register</button>
        </form>
    </div>
</div>


